@import url("//db.onlinewebfonts.com/c/2d40f8b2cfd3a7ecfc761223018b4a73?family=DRagonlord");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2{
    font-family: "DRagonlord", sans-serif;
}
h1{
    font-size: 150px;
    font-weight: 400;
}

h2{
    font-size: 50px;
    font-weight: 400;
}

